/*.bar{
background-color: #EBF1F5;
margin: 0px;
padding-left: 20vw;
align-items: center;
width: 100vw;
padding-bottom: 25px;
/* height: 20px; */
/* line-height: 20%;} */

/*
.searchIcon{
    background-color: transparent;
    margin: 0px;
    border: none;
    margin-top: 6px;

}

.searchBar{
    line-height: 20vh;
    bottom: -10px;
}
*/